Repository dsikkema/playdo: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    -   id: mypy
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.9
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
- repo: local
  hooks:
    - id: frontend-lint
      name: Frontend Linting
      entry: bash -c 'cd playdo-frontend && npm run lint'
      language: system
      pass_filenames: false
      files: ^playdo-frontend/
    - id: frontend-typecheck
      name: Frontend Type Checking
      entry: bash -c 'cd playdo-frontend && npm run typecheck'
      language: system
      pass_filenames: false
      files: ^playdo-frontend/
    - id: frontend-test
      name: Frontend Tests
      entry: bash -c 'cd playdo-frontend && npm run test'
      language: system
      pass_filenames: false
      files: ^playdo-frontend/
    - id: backend-test
      name: Backend Tests
      entry: bash -c 'cd backend && uv run pytest'
      language: system
      pass_filenames: false
      files: ^backend/

help-me-isaac
  playdo-frontend/src/services/api.ts
Due: frontend-lint, frontend-typecheck, frontend-test

readme update for CLI chat
  backend/README.md
Due: backend-test

add comment explaining test structure
  playdo-frontend/src/components/App.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

clean up tests and add explanatory comments
  playdo-frontend/package-lock.json
  playdo-frontend/src/components/App.test.tsx
  playdo-frontend/src/components/ConversationView.test.tsx
  playdo-frontend/src/components/Message.test.tsx
  playdo-frontend/src/components/test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix new typechecker issues, better env var mgmt
  backend/playdo/app.py
  backend/playdo/cli/cli_app.py
  backend/playdo/conversation_repository.py
  backend/playdo/endpoints/conversations.py
  backend/playdo/playdo_app.py
  backend/playdo/settings.py
  backend/tests/conftest.py
Due: backend-test

paraphrased code comment description
  playdo-frontend/src/components/App.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

split out frontend
  playdo-frontend/.editorconfig
  playdo-frontend/.eslintrc
  playdo-frontend/.github/ISSUE_TEMPLATE/bug_report.md
  playdo-frontend/.github/ISSUE_TEMPLATE/feature_request.md
  playdo-frontend/.gitignore
  playdo-frontend/.prettierrc
  playdo-frontend/.vitest/setup.ts
  playdo-frontend/LICENSE
  playdo-frontend/README.md
  playdo-frontend/index.html
  playdo-frontend/package-lock.json
  playdo-frontend/package.json
  playdo-frontend/pnpm-lock.yaml
  playdo-frontend/postcss.config.mjs
  playdo-frontend/public/favicon.svg
  playdo-frontend/public/robots.txt
  playdo-frontend/src/assets/logo.svg
  playdo-frontend/src/components/App.test.tsx
  playdo-frontend/src/components/App.tsx
  playdo-frontend/src/components/ConversationSelector.tsx
  playdo-frontend/src/components/ConversationView.test.tsx
  playdo-frontend/src/components/ConversationView.tsx
  playdo-frontend/src/components/Message.test.tsx
  playdo-frontend/src/components/Message.tsx
  playdo-frontend/src/index.tsx
  playdo-frontend/src/services/api.ts
  playdo-frontend/src/types.ts
  playdo-frontend/src/utils/index.ts
  playdo-frontend/tailwind.config.mjs
  playdo-frontend/tsconfig.json
  playdo-frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck, frontend-test

move up the backend app to top level dir
  .gitignore
  .pre-commit-config.yaml
  .python-version
  README.md
  backend/playdo/cli/__init__.py
  cli-readme.md
  curls/create_conversation.sh
  curls/get_conversation.sh
  curls/get_conversation_ids.sh
  curls/send_message.sh
  install.sh
  playdo.db
  playdo/__init__.py
  playdo/app.py
  playdo/cli/__init__.py
  playdo/cli/cli_app.py
  playdo/cli/historical_conversation.py
  playdo/conversation_repository.py
  playdo/db.py
  playdo/endpoints/conversations.py
  playdo/models.py
  playdo/playdo_app.py
  playdo/response_getter.py
  playdo/settings.py
  pyproject.toml
  schema.sql
  tests/__init__.py
  tests/conftest.py
  tests/test_api.py
  tests/test_conversation_history_repository.py
  tests/test_historical_conversation.py
  uv.lock
Due: backend-test

update cursor rules
  .cursor/rules/always-run-tests-after-code-changes.mdc
  .cursor/rules/python-testing.mdc
  .cursor/rules/run-linters-and-formatter-after-changing-python-code.mdc
  .cursor/rules/use-native-uv-tools.mdc
Due: none

add fix for docker hosting, reorganize startup scripts
  .cursor/rules/use-native-uv-tools.mdc
  playdo/app.py
  pyproject.toml
  run.sh
  sanity_test.py
  uv.lock
Due: none

rm db
  playdo.db
Due: none

rule updates
  .cursor/rules/always-run-tests-after-code-changes.mdc
  .cursor/rules/always-use-type-hints-in-python.mdc
  .cursor/rules/how-to-design-pytest-tests.mdc
  .cursor/rules/python-testing.mdc
  .cursor/rules/run-linters-and-formatter-after-changing-python-code.mdc
  .cursor/rules/use-native-uv-tools.mdc
Due: none

do not nest send_message response conv in "conversation" field
  README.md
  playdo/endpoints/conversations.py
  sanity_test.py
  tests/test_api.py
Due: none

helper scripts
  bin/gitadd_and_verify
  cli_run.sh
Due: none

cursor rules and new technical notes files
  .cursor/rules/cursor-rules-guide.mdc
  .cursor/rules/update_technical_docs.mdc
  DETAILED_TECHNICAL_NOTES.md
Due: none

add product reqs, technical specs
  requirements/Code-Chat Integration- Product Requirements.md
  requirements/Code-Chat Integration: Backend Technical Design.md
Due: none

update tech specs, cursor rules
  .cursor/rules/how-to-design-pytest-tests.mdc
  requirements/Code-Chat Integration: Backend Technical Design.md
Due: none

AI-generated code-chat integration feature on backend
  DETAILED_TECHNICAL_NOTES.md
  curls/get_conversation.sh
  curls/send_message_with_code.sh
  playdo/conversation_repository.py
  playdo/endpoints/conversations.py
  playdo/models.py
  playdo/response_getter.py
  requirements/code-chat-integration/Code-Chat Integration- Product Requirements.md
  requirements/code-chat-integration/Code-Chat Integration: Backend Technical Design.md
  requirements/code-chat-integration/todo.txt
  schema.sql
  tests/test_api.py
Due: none

updated conversation saving loop
  playdo/cli/historical_conversation.py
  playdo/endpoints/conversations.py
  playdo/response_getter.py
Due: none

reqs for apiflask migration; reusable techspec-writer prompt
  requirements/apiflask-migration/technical-implementation-guide.md
  requirements/tech-spec-writer-prompt.md
Due: none

lots of changes: validation, reqs, xml formatting
  DETAILED_TECHNICAL_NOTES.md
  bin/run_api
  bin/run_cli
  curls/send_message_with_code.sh
  playdo/cli/historical_conversation.py
  playdo/conversation_repository.py
  playdo/endpoints/conversations.py
  playdo/models.py
  playdo/response_getter.py
  requirements/apiflask-migration/technical-implementation-guide.md
  tests/test_api.py
  tests/test_historical_conversation.py
Due: none

more tech notes updates
  TECHNICAL_NOTES.md
Due: none

update requirements
  requirements/apiflask-migration/readme.txt
  requirements/apiflask-migration/technical-implementation-guide.md
  requirements/code-chat-integration/readme.md
  requirements/code-chat-integration/todo.txt
Due: none

system prompt
  TECHNICAL_NOTES.md
  playdo/app.py
  playdo/endpoints/conversations.py
  playdo/models.py
  playdo/response_getter.py
  requirements/apiflask-migration/technical-implementation-guide.md
  requirements/code-chat-integration/Code-Chat Integration: Backend Technical Design.md
Due: none

system prompt
  playdo/response_getter.py
Due: none

docker deploy prep
  .gitignore
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

gitignore ds_store
  .gitignore
Due: none

update prompts and user_mgmt requirements
  requirements/tech-spec-writer-prompt.md
  requirements/user_mgmt/readme.md
  requirements/user_mgmt/user_management_tech_plan.md
Due: none

AI-generated user mgmt
  .gitignore
  TECHNICAL_NOTES.md
  playdo/cli/user_cli.py
  playdo/models.py
  playdo/playdo_app.py
  playdo/user_repository.py
  pyproject.toml
  schema.sql
  tests/test_user_cli.py
  tests/test_user_repository.py
  user_cli.sh
  uv.lock
Due: none

fix warnings during test runs
  playdo/models.py
Due: none

clear up some of the db_path issues
  bin/gitadd_and_verify
  playdo/cli/user_cli.py
  playdo/settings.py
  tests/test_user_cli.py
  user_cli.sh
Due: none

my changes to user_repo, raise exceptions, refactor
  playdo/app.py
  playdo/user_repository.py
Due: none

AI-gen fixes to other files, tests, and to repo after my changes
  playdo/cli/user_cli.py
  playdo/user_repository.py
  tests/test_user_repository.py
Due: none

dummy cli login
  playdo/cli/cli_app.py
  playdo/cli/user_cli.py
  playdo/user_repository.py
  tests/test_user_repository.py
Due: none

broken AI-gen attempt at jwt auth
  playdo/app.py
  playdo/endpoints/auth.py
  playdo/endpoints/conversations.py
  playdo/playdo_app.py
  playdo/settings.py
  pyproject.toml
  tests/conftest.py
  tests/test_api.py
  uv.lock
Due: none

fixed up how auth works
  curls/get_conversation.sh
  curls/login.sh
  playdo/app.py
  playdo/endpoints/auth.py
  playdo/endpoints/conversations.py
  playdo/playdo_app.py
  playdo/settings.py
  pyproject.toml
  tests/conftest.py
  tests/test_api.py
  uv.lock
Due: none

user_repo with statefull con + usercli fixes
  playdo/cli/user_cli.py
  playdo/user_repository.py
Due: none

fix repo: take whole object inputs, clean up validation
  playdo/cli/cli_app.py
  playdo/cli/user_cli.py
  playdo/user_repository.py
  tests/conftest.py
  tests/test_user_repository.py
Due: none

refac auth stuff into auth svc
  playdo/cli/user_cli.py
  playdo/endpoints/auth.py
  playdo/playdo_app.py
  playdo/svc/auth_service.py
  playdo/user_repository.py
  tests/conftest.py
  tests/svc/__init__.py
  tests/svc/test_authentication_service.py
  tests/test_user_repository.py
Due: none

--force flag skip confirmations user_cli tool
  playdo/cli/user_cli.py
Due: none
